<mat-sidenav-container class="autos-index">
    <mat-sidenav #sidenav [mode]="'side'" [fixedInViewport]="false" [opened]="true" class="left-bar">
        <app-auto-left-bar [filterParams]="filterParams"></app-auto-left-bar>
    </mat-sidenav>

    <mat-sidenav-content class="catalog-wrapper">
        <div class="load-spinner d-flex justify-content-center align-items-center" *ngIf="pending">
            <mat-spinner [diameter]="70"></mat-spinner>
        </div>

        <div class="toggle-menu">
            {{currentFilterParams}}
            <button mat-button (click)="sidenav.toggle()">
                <fa name="bars"></fa>
                <span>Toggle menu</span>
            </button>
        </div>

        <div class="col col-12 catalog-autos">
            <div class="col col-{{auto !== -1 ? 2 : 12}} float-left pointer" *ngFor="let auto of autos | filter : {title: filterParams.title,
                                                                 typeOil: filterParams.typeOil,
                                                                 typeCarcase: filterParams.typeCarcase,
                                                                 statusCar: filterParams.statusCar,
                                                                 transmission: filterParams.transmission
                }">
                <app-auto-item [carItem]="auto" *ngIf="auto !== -1"></app-auto-item>

                <div *ngIf="auto === -1">None results</div>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
